<!DOCTYPE html>
<html>
<head>
    <title>Team 13</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <link rel="icon" href="{%  static 'favicon.ico' %}">
</head>
<body>
    <div id="inputContainer">
        <div class="container">
        <h1>COMP 4800 // Team 13</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="input1">Original Text:</label><br>
            <textarea type="text" id="input1" name="original">{{  input1 }}</textarea><br><br>
            <label for="input2">Revised Text:</label><br>
            <textarea type="text" id="input2" name="revised">{{  input2 }}</textarea><br><br>
            <input type="submit" id="submit" value="Submit">
        </form>
        <br><hr>
        </div>
    </div>
    <div id="outputContainer">
        <div class="container">
            <h2>Output:</h2>
            {% if output %}
                <p id="output">{{ output }}</p>
            {% endif %}
        </div>
    </div>
</body>
</html>
