<div id="mySidenav" class="sidenav">
    {% load static %}
    <link rel="stylesheet" href="{% static 'sidenav.css' %}">
  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
  <a href="{% url 'home' %}">Home</a>
  <a href="{% url 'about' %}">About</a>
  <a href="{% url 'contact' %}">Contact</a>
</div>

<!-- Use any element to open the sidenav -->
<span class="open-logo" onclick="openNav()">
  <img id="logo" src="{% static 'img/zipBoard_logo.png' %}" alt="Logo">
</span>

<!-- Add some JavaScript to properly handle the opening and closing of the sidenav -->
<script>
function openNav() {
  document.getElementById("mySidenav").style.width = "250px";
}

function closeNav() {
  document.getElementById("mySidenav").style.width = "0";
}
</script>
