@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

html {
    margin: 0;
}
body {
    font-family: 'Roboto', sans-serif;
    height: 100vh;
    margin: 0;
    background: rgb(73, 81, 92);

}

#inputContainer {
    margin: 0;
    background: rgb(73, 81, 92);
    background: linear-gradient(0deg, rgb(73, 81, 92) 0%, rgba(255,255,255,1) 100%);
}

.container {
    max-width: 720px;
    margin: auto;
}

#outputContainer {
    margin: 0;
    background: rgb(73, 81, 92);
}

h1 {
    text-align: center;
    margin: 0;
    padding: 2rem;
    color: #138d46;
    font-weight: bold;
}

hr {
    margin: 0;
    color: white;
}

h2 {
    color: #1cc764;
    padding-top: 1em;
    padding-bottom: 1em;
    margin: 0 0 0 0.5em;
}

label {
    margin-left: 1em;
}

form {
    margin: 0.5em;
    padding: 0;
}

textarea {
    display: block;
    margin: auto;
    font-size: 14pt;
    resize: none;
    width: 95%;
    height: 100px;
    border-radius: 1em;
    border-style: solid;
    border-color: gray;
    background-color: #efefef;
    justify-content: center;
    align-content: center;
}

#submit {
    font-size: 16pt;
    margin: auto;
    background-color: #18ac56;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    border: none;
    border-radius: 5px;
    box-shadow: 0px 10px 10px #4d4d4d;
    transition: all 0.2s ease-out 20ms;
}

#submit:hover {
    background-color: #138d46;
    color: white;
}

#output {
    display: block;
    width: 95%;
    margin: auto;
    padding: 2px;
    border-style: solid;
    border-color: gray;
    border-radius: 0.5em;
    background-color: #efefef;
}